* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

.container {
    width: 1920px;
    margin: auto;
    background-color: azure;
}

.nav-logo {
    text-align: center;
}

.nav-container {
    display: flex;
    background-color: #A51C30;
}

.nav-header {
    margin: auto;
    display: inline-flex;
    list-style-type: none;
}

.nav-container ul a li {
    padding: 10px 20px;
    text-align: center;
    background-color: crimson;
    font-size: 18px;
    color: white;
}

.nav-container ul a :active {
    color: black;
}

.nav-container ul a :hover {
    background-color: #731220;
}

.nav-container ul a {
    text-decoration: none;
}

.mars-uti-container {
    height: 675px;
    text-align: center;
}

.mars-uti {
    height: 100%;
}

.content {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.content div :hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.content-1,
.content-2,
.content-3 {
    width: 400px;
    height: 369px;
    background-color: white;
}

.content-img {
    width: 100%;
}

p {
    margin-top: -4px;
    padding: 20px;
}

@media only screen and (max-width: 800px) {
    .content {
        display: block;
    }

    .content {
        margin-top: 90px;
    }

    .content-1,
    .content-2,
    .content-3 {
        background-color: azure;
        width: 1920px;
        height: 900px;
        text-align: center;
    }

    .content-img {
        width: 900px;
        height: 650px;
    }

    p {
        padding: 20px 510px;
        font-size: 40px;
        text-align: justify;
    }
}