* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1920px;
    margin: auto;
    background-color: azure;
}

.nav-logo {
    text-align: center;
}

.nav-container {
    display: flex;
    background-color: #A51C30;
}

.nav-header {
    margin: auto;
    display: inline-flex;
    list-style-type: none;
}

.nav-container ul a li {
    padding: 10px 20px;
    text-align: center;
    background-color: crimson;
    font-size: 18px;
    color: white;
}

.nav-container ul a :active {
    color: black;
}

.nav-container ul a :hover {
    background-color: #731220;
}

.nav-container ul a {
    text-decoration: none;
}

.content {
    margin: auto;
    width: 1260px;
    height: 1020px;
    background-color: azure;
}

.ryanov-akbar {
    padding: 120px 60px;
}

.foto-ktm :hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.foto-ktm-ryanov-akbar {
    float: left;
    margin-left: 10px;
    margin-right: 70px;
    border-radius: 12px;
    width: 300px;
}

.ryanov-akbar table, th, td {
    border: 1px solid azure;
}

.biodata-table th {
    padding: 14.5px;
    font-size: 28px;
    width: 220px;
    text-align: justify;
}

.biodata-table td {
    border: 1px solid black;
    padding: 14.5px;
    font-size: 28px;
    width: 460px;
}

.ryanov-status {
    display: flex;
    justify-content: space-evenly;
}

.ryanov-status :hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.ryanov-status img {
    height: 240px;
}

.ryanov-status-1, .ryanov-status-2, .ryanov-status-3 {
    height: 330px;
    border: 2px solid black;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}